<?xml version="1.0"?>
<!--
/**
 * PostFinance Checkout Magento 2
 *
 * This Magento 2 extension enables to process payments with PostFinance Checkout (https://postfinance.ch/en/business/products/e-commerce/postfinance-checkout-all-in-one.html).
 *
 * @package PostFinanceCheckout_Payment
 * @author wallee AG (https://postfinance.ch/en/business/products/e-commerce/postfinance-checkout-all-in-one.html)
 * @license http://www.apache.org/licenses/LICENSE-2.0  Apache Software License (ASL 2.0)

 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Register our custom PlaceOrderService for Hyva Checkout to handle our payment methods in the Magewire flow. -->
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="postfinancecheckout_payment" xsi:type="object">PostFinanceCheckout\Payment\Model\Hyva\Checkout\Payment\PlaceOrderService</item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin to filter or modify the available payment methods specifically for the Hyva Checkout view models. -->
    <type name="Hyva\Checkout\ViewModel\Checkout\Payment\MethodList">
        <plugin name="postfinancecheckout_payment_hyva_method_list"
                type="PostFinanceCheckout\Payment\Plugin\Hyva\Checkout\ViewModel\Payment\MethodListPlugin"
                sortOrder="10"/>
    </type>

    <!-- Prevent the vendor PostFinance Adapter from hitting the transaction service after order placement. -->
    <type name="PostFinanceCheckout\Payment\Model\Payment\Method\Adapter">
        <plugin name="postfinancecheckout_payment_adapter_inactive_quote"
                type="PostFinanceCheckout\Payment\Plugin\Payment\Method\MethodAdapter"
                sortOrder="10"/>
    </type>

    <!-- Inject our ConfigProvider into the standard Magento checkout to provide essential payment settings to the frontend. -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="postfinancecheckout_payment_checkout_config_provider" xsi:type="object">PostFinanceCheckout\Payment\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
